@import "~@fortawesome/fontawesome-free/css/all.min.css";
.container1 {
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    top:0px;
    bottom:0px;
    left:0px;
    width:100%;
    z-index:4;
    background-color: #ffffff;
  }
  .product {
    font-size:25px;
    font-weight: 300;
  }
  .nav1 {
    padding: 10px 0;
  } 
  .pro1 {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-end; 
  }
  .pro {
    margin-right: 20px; 
  }
  .pro2 {
    margin-right: 20px; 
  }
  .link {
    text-decoration: none;
    color:black; 
  }
  .link1 {
    text-decoration: none; 
    color:gray;
  }
  .icon1{
    border:1px solid grey;
    margin:3px;
    padding:2px;
    color: gray;
  }
  .btn {
    display: flex;
    flex-direction:row; 
    align-items: center; 
    justify-content: center;
  }
  .btn button {
    margin: 5px; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333; 
  }
  .container3 {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
.product-grid {
    display: flex;
    gap: 20px;
}
.product-item {
    text-align: center;
    margin: 20px;
}
.product-item img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
}
.about {
    padding: 50px 0;
}
.pexels{
    border: 2px solid #ccc;
    padding: 10px;
}
.icon1:hover{
  color:white;
  background-color:black;
}
.link:hover{
  color:Black;
  font-weight:600;
}
.link1:hover{
  color:Black;
  font-weight:600;
}