.container1 {
    display:flex;
    justify-content: space-around;
    align-items: center;
  }
  .product {
    font-size:25px;
    font-weight: 300;
  }
  .nav1 {
    padding: 10px 0;
  } 
  .pro1 {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-end; 
  }
  .pro {
    margin-right: 20px; 
  }
  .pro2 {
    margin-right: 20px; 
  }
  .link {
    text-decoration: none;
    color:black; 
  }
  .link1 {
    text-decoration: none; 
    opacity: 30%;
    color:black;
  }
  .icon1{
    border:1px solid grey;
    margin:3px;
    padding:2px;
    color: gray;
  }
  .icon1:hover{
    color:white;
    background-color:darkgray;
  }
  .shop{
    height:250px;
    margin-left:20px;
    margin-right:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fcfcfc;  
  }
  .btn7{
    border-radius: 5px;
    border: 2px solid gray;
    height:50px;
    width:220px;
    margin:auto;
    display:block;
    text-align: center; 
  }
  .cart-head{
    text-align: center;
    margin-top:70px;
  }